<header class="fixed top-0 left-1/2 z-50 -translate-x-1/2 w-full">
  <nav
    class="fixed top-4 left-1/2 -translate-x-1/2 w-full transition-all duration-300 md:min-w-[360px]"
    [ngClass]="isScrolled ? 'max-w-[320px] md:max-w-[680px] lg:max-w-[1000px]' : 'w-full md:max-w-[720px] lg:max-w-[100vw]'"
  >
    <div
      class="py-3 pl-4 md:pl-7 pr-4 transition-all duration-300"
      [ngClass]="isScrolled ? 'rounded-full bg-white/40 shadow-lg ring-1 ring-black/5 backdrop-blur' : 'bg-transparent'"
    >
      <div class="relative mx-auto flex items-center justify-between">
      <div class="flex items-center gap-3">
        <img src="assets/logo.png" loading="lazy" alt="QuizLynx" class="h-8 w-auto cursor-pointer" routerLink="/" />
      </div>

      <ul class="absolute left-1/2 hidden -translate-x-1/2 transform items-center gap-3 text-base font-medium text-black md:flex">
        <li><a href="#about" class="hover:text-[#3b5ccc] hover:bg-slate-100 hover:shadow-inner rounded-full py-1 px-4">About</a></li>
        <li><a href="#pricing" class="hover:text-[#3b5ccc] hover:bg-slate-100 hover:shadow-inner rounded-full py-1 px-4">Pricing</a></li>
        <li><a href="#contact" class="hover:text-[#3b5ccc] hover:bg-slate-100 hover:shadow-inner rounded-full py-1 px-4">Contact</a></li>
      </ul>

      <div class="flex items-center gap-3">
        <a href="/signin" class="rounded-full bg-white px-5 py-2 text-sm  font-medium text-slate-700 hover:shadow-xl duration-200 ease-in hover:shadow-black/30 hover:bg-slate-50">Login</a>
        <a href="/register" class="rounded-full bg-[#3b82f6] px-5 py-2 text-sm font-medium text-white hover:shadow-xl duration-200 ease-in hover:shadow-black/30">Register</a>
      </div>
    </div>
    </div>
</nav>
</header>

