<header class="fixed top-0 left-1/2 z-50 -translate-x-1/2 w-full">
  <nav
    class="fixed top-4 left-1/2 -translate-x-1/2 w-full transition-all duration-300 md:min-w-[360px]"
    [ngClass]="isScrolled ? 'max-w-[320px] md:max-w-[680px] lg:max-w-[1000px]' : 'w-full md:max-w-[720px] lg:max-w-[100vw]'"
  >
    <div
      class="py-3 pl-4 md:pl-7 pr-4 transition-all duration-300"
      [ngClass]="isScrolled ? 'rounded-full bg-white/40 dark:bg-black/40 shadow-lg ring-1 ring-black/5 backdrop-blur' : 'bg-transparent'"
    >
      <div class="relative mx-auto flex items-center justify-between">
      <div class="flex items-center gap-3">
        <img src="assets/logo.png" alt="QuizLynx" height="32" width="90" class=" filter-icon cursor-pointer" routerLink="/" />
      </div>



      @if(authService.user$ | async; as user){
        @if(user.role === 'INSTRUCTOR'){
        <ul class="absolute left-1/2 hidden -translate-x-1/2 transform items-center gap-3 text-sm font-medium text-text md:flex">
          <li><a routerLink="/dashboard" class=" hover:shadow-muted-text  hover:shadow-inner rounded-full w-max px-2 py-1 flex items-center gap-2" [class.active]="router.url === '/dashboard'"><i class="pi pi-home"></i> Dashboard</a></li>
          <li><a routerLink="/instructor/batches" class=" hover:shadow-muted-text  hover:shadow-inner rounded-full w-max px-2 py-1 flex items-center gap-2" [class.active]="router.url === '/instructor/batches'"><i class="pi pi-book"></i> My Classes</a></li>
          <li><a routerLink="/instructor/quizzes" class=" hover:shadow-muted-text  hover:shadow-inner rounded-full w-max px-2 py-1 flex items-center gap-2" [class.active]="router.url === '/instructor/quizzes'"><i class="pi pi-list"></i> My Quizzes</a></li>
          <li><a routerLink="/instructor/students" class=" hover:shadow-muted-text  hover:shadow-inner rounded-full w-max px-2 py-1 flex items-center gap-2"><i class="pi pi-users"></i> Students</a></li>
          <li><a routerLink="/instructor/me" class=" hover:shadow-muted-text  hover:shadow-inner rounded-full w-max px-2 py-1 flex items-center gap-2" [class.active]="router.url === '/instructor/me'"><i class="pi pi-user"></i> Profile</a></li>
        </ul>
      }
        @if(user.role === 'STUDENT'){ 
        <ul  class="absolute left-1/2 hidden -translate-x-1/2 transform items-center gap-3 text-sm font-medium text-text md:flex">
          <li><a routerLink="/student-dashboard" class=" hover:shadow-muted-text  hover:shadow-inner rounded-full w-max px-2 py-1 flex items-center gap-2" [class.active]="router.url === '/student-dashboard'"><i class="pi pi-home"></i> Dashboard</a></li>
          <li><a routerLink="/student/join" class=" hover:shadow-muted-text  hover:shadow-inner rounded-full w-max px-2 py-1 flex items-center gap-2" [class.active]="router.url === '/student/join'"><i class="pi pi-plus"></i> Join Class</a></li>
          <li><a routerLink="/student/batches" class=" hover:shadow-inner hover:shadow-muted-text rounded-full w-max px-2 py-1 flex items-center gap-2" [class.active]="router.url === '/student/batches'"><i class="pi pi-book"></i> My Classrooms</a></li>
          <li><a routerLink="/student/quizzes" class=" hover:shadow-muted-text  hover:shadow-inner rounded-full w-max px-2 py-1 flex items-center gap-2" [class.active]="router.url === '/student/quizzes'"><i class="pi pi-list"></i> Active Quizzes</a></li>
          <li><a routerLink="/student/attempts" class=" hover:shadow-muted-text  hover:shadow-inner rounded-full w-max px-2 py-1 flex items-center gap-2" [class.active]="router.url === '/student/attempts'"><i class="pi pi-chart-bar"></i> Results</a></li>
        </ul>
        }
      }
      @else {
          <ul class="absolute left-1/2 hidden -translate-x-1/2 transform items-center gap-3 text-base font-medium text-text md:flex">
            <li><a href="#about" class="hover:text-[#3b5ccc] hover:bg-option-hover hover:shadow-inner rounded-full py-1 px-4">About</a></li>
            <li><a href="#pricing" class="hover:text-[#3b5ccc] hover:bg-option-hover hover:shadow-inner rounded-full py-1 px-4">Pricing</a></li>
            <li><a href="#contact" class="hover:text-[#3b5ccc] hover:bg-option-hover hover:shadow-inner rounded-full py-1 px-4">Contact</a></li>
          </ul>
      }
      <div class="flex items-center gap-2">
        @if(!(isLoggedIn$ | async)){
          <a href="/signin" class="rounded-full bg-bg px-5 py-2 text-sm  font-medium text-text hover:shadow-xl duration-200 ease-in hover:shadow-black/30 hover:bg-option-hover">Login</a>
          <a href="/register" class="rounded-full bg-[#3b82f6] px-5 py-2 text-sm font-medium text-white hover:shadow-xl duration-200 ease-in hover:shadow-black/30">Register</a>
        }
        @else if(isLoggedIn$ | async) {
          <div class="flex gap-2">
              <p-avatar [label]="(currentUser?.username || 'U').charAt(0).toUpperCase()" class="bg-primary cursor-pointer text-white" size="normal" (click)="menu.toggle($event)"></p-avatar>
              <!-- <p-tag [class]="currentUser?.role && getRoleColor(currentUser?.role)" [value]="currentUser?.role" class="px-2"
                [icon]="currentUser?.role && getRoleIcon(currentUser?.role)" /> -->
          </div>
          <!-- <button class="rounded-full bg-[#3b82f6] px-5 py-2 text-sm  font-medium text-white hover:shadow-xl duration-200 ease-in hover:shadow-black/30 " (click)="logout()">Logout</button> -->
          <!-- <p-button 
          label="Logout" 
          icon="pi pi-sign-out"
          class="hover:shadow-xl text-text px-5 py-2 rounded-full duration-200 ease-in hover:shadow-black/10"
          (onClick)="logout()">
        </p-button> -->
      }
      @if(darkMode()){
        <button class="px-2 py-1 rounded-full hover:bg-option-hover hover:shadow-inner duration-200 ease-in" (click)="toggleDarkMode()">
          <i class="pi pi-sun text-text"></i>
        </button>
      }
      @else{
        <button class="py-1 px-2 rounded-full hover:bg-option-hover hover:shadow-inner duration-200 ease-in" (click)="toggleDarkMode()">
          <i class="pi pi-moon text-gray-800"></i>
        </button>
      }
      </div>
    </div>
    </div>
</nav>
</header>
<div class="card shadow-lg">
  <p-menu [model]="items" class="flex justify-center" styleClass="w-full md:w-60" #menu [popup]="true">

      <ng-template #submenuheader let-item>
          <span class="text-primary font-bold">{{ item.label }}</span>
      </ng-template>
      <ng-template #item let-item>
          <a pRipple class="flex items-center px-3 py-2 cursor-pointer" [class]="item.linkClass">
              <span [class]="item.icon"></span>
              <span class="ms-2">{{ item.label }}</span>
              @if(item.badge){
                <p-badge class="ms-auto" [value]="item.badge" />
              }
              @if(item.shortcut){
                <span class="ms-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1">{{ item.shortcut }}</span>
              }
          </a>
      </ng-template>
      <ng-template #end>
          <button pRipple class=" gap-3 items-center relative overflow-hidden w-full border-t border-border border-0 bg-transparent flex p-2 pl-4 hover:bg-surface-100 dark:hover:bg-surface-800 rounded-none cursor-pointer transition-colors duration-200">
            <p-avatar [label]="(currentUser?.username || 'U').charAt(0).toUpperCase()" class="bg-primary cursor-pointer text-white rounded-full" size="normal" (click)="menu.toggle($event)"></p-avatar>
            <span class="inline-flex flex-col">
                  <span class="font-bold">{{currentUser?.username}}</span>
                  <p-tag [class]="currentUser?.role && getRoleColor(currentUser?.role)" [value]="currentUser?.role" class="px-2"
                [icon]="currentUser?.role && getRoleIcon(currentUser?.role)" />
              </span>
          </button>
      </ng-template>
  </p-menu>
</div>

