<section class="min-h-[100vh] w-full bg-gradient-to-b from-[#fafafa] to-[#a4a4a4] dark:from-[#323232] dark:to-[#000000] relative overflow-hidden flex items-center pt-24 pb-8">
  <!-- <div class="absolute inset-0 bg-[radial-gradient(80%_50%_at_50%_120%,rgba(255,255,255,0.12),transparent_60%)]"></div> -->

  <div class="relative mx-auto w-full px-4">
<div class="rotate-180">
    <app-half-circle></app-half-circle>

</div>
    <div class="watermark invert">
      <img src="assets/single-logo.png" class="filter-icon" width="100" height="100" alt="Logo" />
    </div>

    <div class="content text-center">
      <h1 class="heading text-text">Something gone wrong!</h1>
      <p class="subheading !text-muted-text">The page you were looking for doesn’t exist.</p>
      <div class="actions flex justify-center">
        <button type="button" class="text-white pill" (click)="goHome()">Go to home</button>
      </div>
    </div>
  </div>
</section>


