/* Three bottom half-circles */
.arcs-container {
    position: absolute;
    inset: 0;
    pointer-events: none;
    bottom: 30%;
    rotate: 180deg;
  }
  @keyframes slideInFromTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.circle-outer {
    animation: slideInFromTop 0.8s ease-out forwards;
    animation-delay: 0.2s;
    opacity: 0;
}

.circle-middle {
    animation: slideInFromTop 0.8s ease-out forwards;
    animation-delay: 0.6s;
    opacity: 0;
}

.circle-inner {
    animation: slideInFromTop 0.8s ease-out forwards;
    animation-delay: 1.0s;
    opacity: 0;
}
